<ion-header>
    <app-menu-toolbar
            [rightCornerIcon]="'swap-vertical-outline'"
            (emitIconClick)="toggleMatchStand($event)"></app-menu-toolbar>
</ion-header>
<ion-toolbar color="background">
    <ion-searchbar (ionChange)="search($event)" placeholder="Zoek deelnemer" color="light"
                   debounce="500"></ion-searchbar>
</ion-toolbar>
<ion-content>
    <ion-virtual-scroll [items]="stand" approxItemHeight="90px">
        <ion-item *virtualItem="let line; let itemBounds = bounds; let i = index;" [color]="i % 2 != 0 ? 'accent' : ''"
                  lines="full"
                  class="ion-no-padding">
            <ion-grid>
                <ion-row (click)="navigateToParticipant(line.id)">
                    <ion-col>
                        <span class="hes-position">
                        {{line.position}}
                            <ion-icon
                                    [name]="line.deltaPosition > 0 ? 'caret-up-outline' : line.deltaPosition < 0 ? 'caret-down-outline' : 'caret-forward-outline'"
                                    [color]="line.deltaPosition > 0 ? 'success' : line.deltaPosition < 0 ? 'danger' : 'medium'"></ion-icon>
                        </span>
                        {{line.displayName}}</ion-col>
                    <ion-col size="3" class="ion-align-items-center ion-text-end">
                        <ion-icon name="podium-outline"></ion-icon>
                        {{line.totalPoints}}</ion-col>
                </ion-row>
                <hr>
                <ion-row>
                    <ion-col offset="1" class="match-col ion-align-items-center" (click)="openMatches(line.id)">
                        <ion-text color="medium">
                            <ion-icon name="football"></ion-icon>
                            {{line.matchPoints}}
                            <ion-text
                                    class="hes-delta-text"
                                    *ngIf="line.deltaMatchPoints > 0">
                                (+{{line.deltaMatchPoints}})
                            </ion-text>
                        </ion-text>
                    </ion-col>
                    <ion-col class="poule-col ion-align-items-center ion-text-center" (click)="openPoules(line.id)">
                        <ion-text color="medium">
                            <ion-icon name="list"></ion-icon>
                            {{line.poulePoints}}
                            <ion-text
                                    class="hes-delta-text"
                                    *ngIf="line.deltaPoulePoints > 0">
                                (+{{line.deltaPoulePoints}})
                            </ion-text>
                        </ion-text>
                    </ion-col>
                    <ion-col class="knockout-col ion-align-items-center ion-text-end" (click)="openKnockout(line.id)">
                        <ion-text color="medium">
                            <ion-icon name="trophy"></ion-icon>
                            {{line.knockoutPoints}}
                            <ion-text
                                    class="hes-delta-text"
                                    *ngIf="line.deltaKnockoutPoints > 0">
                                (+{{line.deltaKnockoutPoints}})
                            </ion-text>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-virtual-scroll>
</ion-content>
