<ion-header>
    <app-menu-toolbar></app-menu-toolbar>
</ion-header>
<ion-toolbar color="background">
    <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding">
            <ion-segment color="primary" (ionChange)="setMatchStandActive($event)"
                         mode="md"
                         [value]="typeOfStand">
                <ion-segment-button value="totaal">
                    <ion-label>Totaal</ion-label>
                </ion-segment-button>
                <ion-segment-button value="wedstrijden">
                    <ion-label>Wedstrijden</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-row>
        <ion-row>
            <ion-searchbar (ionChange)="search($event)" placeholder="Zoek deelnemer" color="light"
                           debounce="500"></ion-searchbar>
        </ion-row>
    </ion-grid>
</ion-toolbar>
<ion-content>
    <ion-virtual-scroll [items]="stand" approxItemHeight="90px">
        <ion-item *virtualItem="let line; let itemBounds = bounds; let i = index;" [color]="i % 2 != 0 ? 'accent' : ''"
                  lines="full"
                  class="ion-no-padding">
            <ion-grid>
                <ion-row (click)="navigateToParticipant(line.id)">
                    <ion-col>
                        <span class="hes-position">
                        {{(uiService.isMatchStandActive$ | async) ? line.matchPosition : line.position}}
                            <ion-icon
                                    [name]="(uiService.isMatchStandActive$ | async) ?
                                    line.deltaMatchPosition > 0 ? 'caret-up-outline' : line.deltaMatchPosition < 0 ? 'caret-down-outline' : 'caret-forward-outline' :
                                     line.deltaPosition > 0 ? 'caret-up-outline' : line.deltaPosition < 0 ? 'caret-down-outline' : 'caret-forward-outline'"
                                    [color]="
                                    (uiService.isMatchStandActive$ | async) ?
                                    line.deltaMatchPosition > 0 ? 'success' : line.deltaMatchPosition < 0 ? 'danger' : 'medium':
                                    line.deltaPosition > 0 ? 'success' : line.deltaPosition < 0 ? 'danger' : 'medium'"></ion-icon>
                        </span>
                        {{line.displayName}}</ion-col>
                    <ion-col size="3" class="ion-align-items-center ion-text-end">
                        <ion-icon name="podium-outline"></ion-icon>
                        {{(uiService.isMatchStandActive$ | async) ? line.matchPoints : line.totalPoints}}</ion-col>
                </ion-row>
                <hr>
                <ion-row>
                    <ion-col offset="1" class="match-col ion-align-items-center" (click)="openMatches(line.id)">
                        <ion-text color="medium">
                            <ion-icon name="football"></ion-icon>
                            {{line.matchPoints}}
                            <ion-text
                                    class="hes-delta-text"
                                    *ngIf="line.deltaMatchPoints > 0">
                                (+{{line.deltaMatchPoints}})
                            </ion-text>
                        </ion-text>
                    </ion-col>
                    <ion-col class="poule-col ion-align-items-center ion-text-center" (click)="openPoules(line.id)"
                             *ngIf="!(uiService.isMatchStandActive$ | async)">
                        <ion-text color="medium">
                            <ion-icon name="list"></ion-icon>
                            {{line.poulePoints}}
                            <ion-text
                                    class="hes-delta-text"
                                    *ngIf="line.deltaPoulePoints > 0">
                                (+{{line.deltaPoulePoints}})
                            </ion-text>
                        </ion-text>
                    </ion-col>
                    <ion-col class="knockout-col ion-align-items-center ion-text-end" (click)="openKnockout(line.id)"
                             *ngIf="!(uiService.isMatchStandActive$ | async)">
                        <ion-text color="medium">
                            <ion-icon name="trophy"></ion-icon>
                            {{line.knockoutPoints}}
                            <ion-text
                                    class="hes-delta-text"
                                    *ngIf="line.deltaKnockoutPoints > 0">
                                (+{{line.deltaKnockoutPoints}})
                            </ion-text>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-virtual-scroll>
</ion-content>
