<ion-header>
    <app-menu-toolbar title="Knockouts"></app-menu-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>{{koTeamStats?.round | roundText}} </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="ion-padding ion-text-start" style="background-color: #ffffff">
                <ion-text>
                    <span class="flag-icon flag-icon-{{koTeamStats?.team.logoUrl}} flag-icon-squared"></span>
                    {{koTeamStats?.team.name}}
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ng-container *ngFor="let participant of koTeamStats?.participants">
            <ion-row class="hes-border-bottom" (click)="openParticipant(participant.participant.id)">
                <ion-col style="background-color: #ffffff">
                    <ion-row>
                        <ion-col>
                            {{participant.tableLine.position}}) {{participant.participant.displayName}}
                        </ion-col>
                        <ion-col class="ion-text-end">
                            <ion-icon name="podium-outline"></ion-icon>
                            {{participant.tableLine.totalPoints}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="match-col ion-align-items-center">
                            <ion-text color="medium">
                                <ion-icon name="football"></ion-icon>
                                {{participant.tableLine.matchPoints}}
                            </ion-text>
                        </ion-col>
                        <ion-col class="poule-col ion-align-items-center ion-text-center">
                            <ion-text color="medium">
                                <ion-icon name="list"></ion-icon>
                                {{participant.tableLine.poulePoints}}
                            </ion-text>
                        </ion-col>
                        <ion-col class="knockout-col ion-align-items-center ion-text-end">
                            <ion-text color="medium">
                                <ion-icon name="trophy"></ion-icon>
                                {{participant.tableLine.knockoutPoints}}
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="3" class="hes-accent-background">
                    <ion-row>
                        <ion-col size="6" class="ion-no-padding ion-text-start">
                            <ion-row class="ion-no-padding">
                                <ion-col class="ion-text-start">
                                    <ion-icon
                                            [name]="koTeamStats.team.isInRound ? 'checkmark-outline' : 'close-outline'"
                                            [color]="koTeamStats.team.isInRound ? 'success' : 'danger'"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col size="6"
                                 class="ion-no-padding ion-text-center ion-align-self-center">
                            <ion-chip color="primary">
                                {{koTeamStats.team.points}}
                            </ion-chip>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
</ion-content>
