<ion-card class="match-card">
  <app-city-card-header [match]="matchPrediction?.match"></app-city-card-header>
    <ion-card-content>
        <div class="ion-padding-top">
            <ion-card-title>
                <ion-row>
                    <ion-col class="ion-no-padding">
                        <ion-icon size="medium" src="assets/flags/netherlands.svg"></ion-icon>
                        {{matchPrediction.match?.homeTeam?.name}}
                    </ion-col>
                    <ion-col class="ion-no-padding" size="1" text-right>
                        {{matchPrediction.homeScore}}
                    </ion-col>
                </ion-row>
            </ion-card-title>
            <ion-card-title>
                <ion-row>
                    <ion-col class="ion-no-padding">
                        <ion-icon size="medium" src="assets/flags/netherlands.svg"></ion-icon>
                        {{matchPrediction.match?.awayTeam?.name}}
                    </ion-col>
                    <ion-col class="ion-no-padding" size="1" text-right>
                        {{matchPrediction.awayScore}}
                    </ion-col>
                </ion-row>
            </ion-card-title>
            <ion-item *ngIf="!isRegistrationOpen" lines="none" class="ion-no-padding">
                <ion-label>Uitslag {{matchPrediction.match.homeScore}} - {{matchPrediction.match.awayScore}}
                </ion-label>
                <ion-badge mode="md" slot="end">25</ion-badge>
            </ion-item>
            <ng-container *ngIf="isRegistrationOpen">
                <ion-item class="ion-no-padding" lines="none">
                    <ion-fab-button [color]="round === matchPrediction.homeScore ? 'medium' : 'light'"
                                    color="light"
                                    (click)="updateWedstrijdScore(matchPrediction, round, matchPrediction.awayScore)"
                                    size="small"
                                    *ngFor="let round of [0,1,2,3]">
                        {{round}}
                    </ion-fab-button>
                    <ion-fab-button color="light"
                                    (click)="updateWedstrijdScore(matchPrediction, matchPrediction.homeScore + 1, matchPrediction.awayScore)"
                                    size="small">
                        +
                    </ion-fab-button>
                </ion-item>
                <ion-item class="ion-no-padding" lines="none">
                    <ion-fab-button [color]="round === matchPrediction.awayScore ? 'medium' : 'light'"
                                    color="light"
                                    (click)="updateWedstrijdScore(matchPrediction, matchPrediction.homeScore, round)"
                                    size="small"
                                    *ngFor="let round of [0,1,2,3]">
                        {{round}}
                    </ion-fab-button>
                    <ion-fab-button color="light"
                                    (click)="updateWedstrijdScore(matchPrediction, matchPrediction.awayScore, matchPrediction.awayScore + 1)"
                                    size="small">
                        +
                    </ion-fab-button>
                </ion-item>
            </ng-container>
        </div>
    </ion-card-content>
</ion-card>
