<ion-card *ngIf="standLine" [color]="color">
    <ion-card-header>
        <ion-card-title>{{standLine?.displayName}} staat {{standLine.position}}e</ion-card-title>
        <ion-card-subtitle>{{lastUpdated | fromNow}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-align-items-stretch">
                <app-punten-chip
                        (click)="openStand()" [iconName]="'podium-outline'"
                        [color]="color === 'primary' ? 'light' : 'dark'"
                        [deltaPoints]="standLine.deltaTotalPoints"
                        [points]="standLine.totalPoints"></app-punten-chip>
                <app-punten-chip
                        (click)="openMatches()"
                        [iconName]="'football'" [deltaPoints]="standLine.deltaMatchPoints"
                        [color]="color === 'primary' ? 'light' : 'dark'"
                        [points]="standLine.matchPoints"></app-punten-chip>
                <app-punten-chip
                        (click)="openPoules()" [iconName]="'list'" [deltaPoints]="standLine.deltaPoulePoints"
                        [color]="color === 'primary' ? 'light' : 'dark'"
                        [points]="standLine.poulePoints"></app-punten-chip>
                <app-punten-chip
                        (click)="openKnockout()" [iconName]="'trophy'" [deltaPoints]="standLine.deltaKnockoutPoints"
                        [color]="color === 'primary' ? 'light' : 'dark'"
                        [points]="standLine.knockoutPoints"></app-punten-chip>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
