<ion-header>
    <ion-toolbar>
        <ion-title><span class="flag-icon flag-icon-{{line?.team?.logoUrl}} flag-icon-squared"></span>
            <ion-text>{{line?.team?.name}}</ion-text>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="full">
        <ion-select [(ngModel)]="line.team.isEliminated" placeholder="Uitgeschakeld ?" class="internal">
            <ion-select-option [value]="null">Nog niet bekend</ion-select-option>
            <ion-select-option [value]="true">Uitgeschakeld</ion-select-option>
            <ion-select-option [value]="false">Door</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item lines="full">
        <ion-label>Positie definitief</ion-label>
        <ion-toggle slot="start" [(ngModel)]="line.isPositionFinal"></ion-toggle>
    </ion-item>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="full"
                            color="primary" (click)="save()">Opslaan
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="full" color="secondary" (click)="dismiss()">Annuleren</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
