ion-menu {
  //--ion-background-color: var(--ion-background-color);
}

:host {
  .active-item {
    border-left: 8px solid var(--ion-color-secondary);
  }
  .inactive-item {
    padding-left: 8px;
  }
  ion-content {
    --background: var(--ion-background-color);
  }
}
