<!--https://www.flaticon.com/packs/countrys-flags-->
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Poule voorspellingen
        </ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="pouleForm.pouleName"
                     (ionChange)="selectPoule($event)"
                     scrollable
                     color="primary">
            <ion-segment-button checked value="A">
                Poule A
            </ion-segment-button>
            <ion-segment-button value="B">
                Poule B
            </ion-segment-button>
            <ion-segment-button value="C">
                Poule C
            </ion-segment-button>
            <ion-segment-button value="D">
                Poule D
            </ion-segment-button>
            <ion-segment-button value="E">
                Poule E
            </ion-segment-button>
            <ion-segment-button value="F">
                Poule F
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-match-card [isRegistrationOpen]="isRegistrationOpen" [matches]="pouleForm.matches"></app-match-card>
    <app-stand-card (toggleIsSortDisabled)="toggleIsSortDisabled($event)"
                    [isSortDisabled]="isSortDisabled"
                    [pouleName]="pouleName" [pouleForm]="pouleForm"></app-stand-card>
</ion-content>
