<ion-header>
    <app-menu-toolbar title="Knockouts"></app-menu-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ng-container *ngFor="let knockout of knockoutStats">
            <ion-row>
                <ion-col>{{knockout.round | roundText}} </ion-col>
            </ion-row>
            <ng-container *ngFor="let team of knockout.teams">
                <ion-row *ngIf="team.count > 0" class="hes-border-bottom">
                    <ion-col size="6" class="ion-padding ion-text-start" style="background-color: #ffffff">
                        <ion-text color="medium">
                            <span class="flag-icon flag-icon-{{team.logoUrl}} flag-icon-squared"></span>
                            {{team.name}}
                        </ion-text>
                    </ion-col>
                    <ion-col size="6" class="ion-padding ion-text-end" style="background-color: #ffffff">
                        <ion-text color="medium">
                            {{team.count}}
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ng-container>
        </ng-container>
    </ion-grid>
</ion-content>
