<ion-header>
    <app-menu-toolbar></app-menu-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/spelregels.jpg" alt=""/>
        <ion-card-header>
            <ion-card-title>Spelregels</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div id="spelregels" class="contentcolumn innertube" style="display: block;">
                Het EK Spel wordt georganiseerd door Werner en Tom. We zouden het leuk vinden als je met je echte naam
                meedoet (geen
                nickname), zodat je voor de andere deelnemers te vinden bent in de stand.<br>

                Werner en Tom mogen mensen weigeren, daarbij hoeft geen reden te worden gegeven.<br>
                In principe is er geen deelnemerslimiet, maar die kan later toch worden ingesteld.<br>
                Bij onverwachte problemen o.i.d. beslissen Werner en Tom.<br>
                Werner en Tom doen mee met de poule, maar hun voorspellingen zijn (net als die van alle deelnemers)
                zichtbaar tijdens het EK.<br>
                Over de uitslag kan niet worden gecorrespondeerd.<br>
                <br>
                <i>Voorspel de uitslagen van de poulewedstrijden.<br>
                    Voorspel de eindstand voor elke poule.<br>
                    Voorspel de ploegen in de 1/8e finales, kwartfinales, halve finales, finale en de Europees kampioen.</i><br>
                <br>
                <b>Punten kunnen als volgt worden verdiend:</b><br>
                Winnaar of gelijkspel goed voorspeld: 15<br>
                Doelpunten van een land goed voorspeld: 5<br>
                Extra punten als je de hele uitslag goed hebt: 5<br>
                <i>(Als je de uitslag van een wedstrijd goed hebt krijg je 30 pt)</i> <br>
                Goede positie van land in eindstand poule: 5<br>
                Goed voorspelde 1/8e finalist: 20<br>
                Goed voorspelde kwartfinalist: 35<br>
                Goed voorspelde halve finalist: 60<br>
                Goed voorspelde finalist: 100<br>
                Europees kampioen goed voorspeld: 175<br>
                <br>
                <b>Voorbeeld</b>: stel, Nederland - Oostenrijk wordt 2-1. <br>
                Je voorspelling <br>
                0-2 levert 0 punten op. <br>
                1-1 levert 5 punten op. (doelpunten Oostenrijk goed)<br>
                3-0 levert 15 punten op. (winnaar goed) <br>
                3-1 levert 20 punten op. (doelpunten Oostenrijk goed + winnaar goed)<br>
                2-0 levert 20 punten op. (doelpunten Nederland goed + winnaar goed) <br>
                2-1 levert 30 punten op. (complete uitslag goed) <br>
                <br>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
