<ion-header>
    <app-menu-toolbar title="Spelregels"></app-menu-toolbar>
</ion-header>

<ion-content>
<ion-card class="welcome-card">
    <img src="/assets/spelregels.jpg" alt=""/>
    <ion-card-header>
        <ion-card-title>Spelregels</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div id="spelregels" class="contentcolumn innertube" style="display: block;">
            <b>De deelnamekosten zijn: € 3,00</b>.<br>
            Zowel het deelnameformulier als het geld moeten binnen zijn vòòr <b>donderdag 7 juni 20:00 uur</b>.<br>
            <br>
            Je mag alleen meedoen als je een bekende bent van Werner of Tom (evt. indirect).<br>
            Werner en Tom mogen mensen weigeren, daarbij hoeft geen reden te worden gegeven.<br>
            In principe is er geen deelnemerslimiet, maar die kan later toch worden ingesteld.<br>
            Bij onverwachte problemen o.i.d. beslissen Werner en Tom.<br>
            Werner en Tom doen mee met de poule, maar zetten hun voorspellingen, net als de rest, online.<br>
            Over de uitslag kan niet worden gecorrespondeerd.<br>
            <br>
            <i>Voorspel de uitslagen van de poulewedstrijden.<br>
                Voorspel de eindstand voor elke poule.<br>
                Voorspel de ploegen in de kwartfinales, halve finales, finale en de Europees kampioen.</i><br>
            <br>
            <b>Punten kunnen als volgt worden verdiend:</b><br>
            Winnaar of gelijkspel goed voorspeld:				15<br>
            Doelpunten van een ploeg goed voorspeld:				5<br>
            Extra punten als je de hele uitslag goed hebt:				5<br>
            <i>(Als je de uitslag van een wedstrijd goed hebt krijg je 30 pt)</i>		<br>
            Goede plaats in eindstand poule:				5<br>
            Goed voorspelde kwartfinalist:				25<br>
            Goed voorspelde halve finalist:				45<br>
            Goed voorspelde finalist:				80<br>
            Europees kampioen goed voorspeld:				150<br>
            <br>
            <b>Voorbeeld</b>: stel, Nederland - Denemarken wordt 2-1.	<br>
            Je voorspelling		<br>
            0-2	levert	0 punten op.					<br>
            1-1	levert	5 punten op.	(doelpunten Denemarken goed)<br>
            3-0	levert	15 punten op.	(winnaar goed)			<br>
            3-1	levert	20 punten op.	(doelpunten Denemarken goed + winnaar goed)<br>
            2-0	levert	20 punten op.	(doelpunten Nederland goed + winnaar goed)	<br>
            2-1	levert	30 punten op.	(complete uitslag goed)		<br>
            <br>
            <b>Prijzengeld:</b><br>
            <i> Let op: Bij HET EK SPEL zijn er ook prijzen voor de beste voorspellers van de poulewedstrijden</i><br><br>
            Nr. 1 na de poulewedstrijden (excl. eindstand poule): 67,- euro<br>
            Nr. 2 na de poulewedstrijden (excl. eindstand poule): 40,- euro<br>
            Nr. 3 na de poulewedstrijden (excl. eindstand poule): 25,- euro<br>
            <br>

            Nr. 1 eindstand: 115,- euro<br>
            Nr. 2 eindstand: 70,- euro<br>
            Nr. 3 eindstand: 55,- euro<br>
            Nr. 4 eindstand: 40,- euro<br>
            Nr. 5 eindstand: 30,- euro<br>
            Nr. 6 eindstand: 20,- euro<br>
            <br>
            Bij gelijke stand worden die prijzen gedeeld. Bijvoorbeeld, als nr. 1 en nr. 2 evenveel punten hebben, krijgen ze beiden (115+70)/2 = 92,50 euro<br>
            Iemand kan ook zowel na de poulewedstrijden als in de eindstand prijzen winnen.

        </div>
    </ion-card-content>
</ion-card>
</ion-content>
