<ion-header>
    <app-menu-toolbar></app-menu-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="12" size-md="6" size-lg="6" size-xl="6">
                <ion-card *ngIf="(participant$ | async) && !(participant$ | async)?.isAllowed">
                    <div class="hes-background-primary ion-padding">
                        <img src="/assets/header_hetekspel_dark_mode.png" alt=""/>
                    </div>
                    <ion-card-header>
                        <ion-card-title color="primary">
                            Helaas {{(participant$ | async)?.displayName}}
                        </ion-card-title>
                        <ion-card-subtitle>Het EK spel is alleen voor bekenden van Werner en/of Tom</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        Helaas moeten we je mededelen dat je niet mee kan doen
                        aan Het EK spel, aangezien je geen bekende bent van Werner en/of Tom.
                        Mocht je het idee hebben dat wij verkeerd zitten of dat je toch via via graag mee wilt doen maar
                        wij hier niet van op de hoogte waren, stuur ons dan even een berichtje. <br><br>
                        Vriendelijke groeten,
                        <br><br>
                        Werner en Tom.
                    </ion-card-content>
                </ion-card>
                <app-headline></app-headline>
            </ion-col>
            <ion-col class="ion-no-padding" size="12" size-md="6" size-lg="6" size-xl="6">
                <app-participant-card color="secondary" [lastUpdated]="lastUpdated"
                                      [standLine]="participantStandLine"></app-participant-card>
                <app-participant-card [lastUpdated]="lastUpdated" [standLine]="standLine"></app-participant-card>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="6" size-xl="6" *ngIf="!(authService.user$ | async)">
                <app-login></app-login>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
