<ion-toolbar color="light">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title (click)="openHome()">
    <img [src]="(uiService.prefersDark$ | async) ? '/assets/header_hetekspel_dark_mode.png' : '/assets/header_hetekspel_light_mode.png'"
         height="36px;">
  </ion-title>
  <ion-buttons slot="primary" *ngIf="rightCornerIcon">
    <ion-button (click)="iconClick($event)">
      <ion-icon slot="icon-only" size="large" [color]="iconColor" [name]="rightCornerIcon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<app-loader></app-loader>

