<ion-header>
    <app-menu-toolbar>
    </app-menu-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            Het EK Spel is geen officiële partner van, noch claimt het enige associatie te hebben met
            organisatoren van sportevenementen, internationale sportorganisaties of professionele sportteams
            en de gerelateerde merken en handelsmerken. Bezoekers van de website mogen deelnemen aan het
            Het EK Spel als zij bekenden zijn van organisatoren Werner of Tom. Werner en Tom mogen
            deelnemers weigeren zonder opgave van reden. Bij onverwachte problemen o.i.d. beslissen Werner
            en Tom. Over de uitslag van Het EK Spel kan niet worden gecorrespondeerd.
        </ion-card-content>
    </ion-card>
</ion-content>
