<ion-card>
    <ion-card-header>
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding ion-justify-content-between">
                <ion-col>
                    <ion-card-subtitle>
                        Stand poule {{poule.poule}}
                    </ion-card-subtitle>
                </ion-col>
                <ion-col size="1" class="ion-align-self-end">
                    <ion-icon class="toggle-reorder-icon" (click)="toggleReorderGroup()"
                              [name]="poule.isSortDisabled ? 'lock-closed-outline' : 'lock-open-outline'"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
        <hr>
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col offset="6" size="2">
                    P
                </ion-col>
                <ion-col size="2">
                    PTS
                </ion-col>
                <ion-col size="2">
                    +/-
                </ion-col>
            </ion-row>
            <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="poule.isSortDisabled">
                <ion-reorder *ngFor="let line of poule.stand; let i = index">
                    <app-league-table-row [isSortDisabled]="poule.isSortDisabled" [line]="line" [index]="i"></app-league-table-row>
                </ion-reorder>
            </ion-reorder-group>
        </ion-grid>
    </ion-card-content>
    <ion-footer  class="ion-padding-horizontal">
        <ion-button expand="block" (click)="save()">Opslaan</ion-button>
    </ion-footer>
</ion-card>
