<ion-header>
    <app-menu-toolbar title="Finale ronde"></app-menu-toolbar>
</ion-header>
<ion-content>
    <ion-card class="message">
        <ion-card-content *ngIf="standLine">
            {{standLine?.displayName}} staat op plek {{standLine?.position}} en heeft {{standLine?.knockoutPoints}}
            punten voor de finale ronde.

        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ng-container *ngFor="let prediction of predictions;let i = index">
            <ion-row *ngIf="i === 0 || predictions[i-1].knockout.round !== prediction.knockout.round">
                <ion-col>{{roundText(prediction.knockout.round)}}
                </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding hes-border-bottom">
                <ion-col style="background-color: #ffffff">
                    <ion-row>
                        <ion-col>
                            <span class="flag-icon flag-icon-{{prediction.homeTeam?.logoUrl}} flag-icon-squared"></span>
                            {{prediction.homeTeam?.name}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <span class="flag-icon flag-icon-{{prediction.awayTeam?.logoUrl}} flag-icon-squared"></span>
                            {{prediction.awayTeam?.name}}
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="3" style="background-color: aliceblue">
                    <ion-row>
                        <ion-col size="6" class="ion-no-padding ion-text-start">
                            <ion-row class="ion-no-padding">
                                <ion-col class="ion-text-start">
                                    <ion-icon *ngIf="prediction.homeSpelpunten > 0" name="checkmark-outline"
                                              color="success"></ion-icon>
                                    <ion-icon *ngIf="prediction.homeSpelpunten === null" name="close-outline"
                                              color="danger"></ion-icon>
                                </ion-col>
                            </ion-row>
                            <ion-row class="ion-no-padding">
                                <ion-col class="ion-text-start">
                                    <ion-icon *ngIf="prediction.awaySpelpunten > 0" name="checkmark-outline"
                                              color="success"></ion-icon>
                                    <ion-icon *ngIf="prediction.awaySpelpunten === null" name="close-outline"
                                              color="danger"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col size="6"
                                 class="ion-no-padding ion-align-self-center ion-text-center">
                            <ion-chip color="primary">
                                {{prediction.homeSpelpunten + prediction.awaySpelpunten}}
                            </ion-chip>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
    <ng-container *ngIf="predictions">
        <ion-grid>
            <ion-row>
                <ion-col>Europees Kampioen
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-item lines="full">
            <ion-grid class="ion-no-margin">
                <ion-row class="ion-no-padding">
                    <ion-col class="ion-no-padding">
                        <span class="flag-icon flag-icon-{{europeesKampioen?.team.logoUrl}} flag-icon-squared"></span>
                        {{europeesKampioen?.team.name}}
                    </ion-col>
                    <ion-col size="1" class="ion-no-padding">
                        <ion-icon *ngIf="europeesKampioen?.winnerSpelpunten > 0" name="checkmark-outline"
                                  color="success"></ion-icon>
                    </ion-col>
                    <ion-col size="2" class="ion-no-padding ion-text-end">
                        {{europeesKampioen?.winnerSpelpunten}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ng-container>
</ion-content>
