<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Het EK Spel
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/banner_euro2020.jpg" alt=""/>
        <ion-card-header>
            <ion-card-subtitle>Euro 2020</ion-card-subtitle>
            <ion-card-title>Het EK Spel</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Welkom bij Het Ek Spel 2020.</p>
        </ion-card-content>
    </ion-card>

    <app-login></app-login>
</ion-content>
