<ion-row class="ion-padding" [ngClass]="line.spelpunten === 5 ? 'winner' : (index % 2 == 0) ? 'odd' : 'even'">
    <ion-col size="6">
        <span class="flag-icon flag-icon-{{line.team.logoUrl}} flag-icon-squared"></span>
        <ion-text>
            {{line.positie}}
            {{line.team.name}}
        </ion-text>
    </ion-col>
    <ion-col size="2">
        <ion-text>
            {{line.gespeeld}}
        </ion-text>
    </ion-col>
    <ion-col size="2">
        <ion-text>
            {{line.punten}}
        </ion-text>
    </ion-col>
    <ion-col size="1">
        <ion-text>
            {{line.goalsFor - line.goalsAgainst}}
        </ion-text>
    </ion-col>
    <ion-col size="1" *ngIf="!isSortDisabled">
        <ion-icon name="shuffle-outline"></ion-icon>
    </ion-col>
</ion-row>
