<ion-row class="ion-padding" [ngClass]="(index % 2 == 0) ? 'odd' : 'even'">
    <ion-col size="6">
        <ion-icon size="medium" src="assets/flags/netherlands.svg"></ion-icon>
        <ion-text>
            {{line.positie}}
            {{line.team.name}}
        </ion-text>
    </ion-col>
    <ion-col size="2">
        <ion-text>
            {{line.gespeeld}}
        </ion-text>
    </ion-col>
    <ion-col size="2">
        <ion-text>
            {{line.punten}}
        </ion-text>
    </ion-col>
    <ion-col size="1">
        <ion-text>
            {{line.goalsFor - line.goalsAgainst}}
        </ion-text>
    </ion-col>
    <ion-col size="1" *ngIf="!isSortDisabled">
        <ion-icon name="shuffle-outline"></ion-icon>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col>
        {{line.sortering}}

    </ion-col>
    <ion-col>
        {{line.thirdPositionScore}}
    </ion-col>
</ion-row>
